.ios, .md {

  page-login {

    .scroll-content {
      display: flex;
      flex-direction: column;
    }

    ion-row {
      align-items: center;
      text-align: center;
    }

    ion-item {
      border: 1px solid #bbb !important;
      border-radius: 16px !important;
      padding-left: 10px !important;
      margin-bottom: 10px;
      background-color: #f6f6f6;
      opacity: 0.7;
      font-size: 0.9em;
    }

    ion-list {
      margin: 0;
    }

    .login-logo {
      flex: 1;
      width: 75%;
      margin: 0 auto;
    }

    .login-form {
      flex: 1;
    }

    .login-button {
      width: 100%;
      border-radius: 30px;
      font-size: 0.9em;
      background-color: map-get($colors,secondary);
      border: 1px solid #fff;
    }

    .create-account-button {
      width: 100%;
      border-radius: 30px;
      font-size: 0.9em;
      background-color: map-get($colors,primary);
      border: 1px solid #fff;
    }

  }

}
